<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Búsqueda</h1>
    <form action="/movies/search" method="post">
    <input type="search">
    <button type="submit">Buscar</button>
    </form>
</body>
</html>